git+https://github.com/catalystneuro/neuroconv.git@compound_object # pin until PR is merged
git+https://github.com/SpikeInterface/spikeinterface.git@main # pin until 0.101.1 release
neuroconv[openephys,phy]
probeinterface
